# Dépendances
node_modules/
**/node_modules/
# Build
dist/
**/dist/
*.tsbuildinfo
# Vite / TS
**/node_modules/.tmp/
# OS
.DS_Store
.idea/copilotDiffState.xml
/gwen-generated-api/src/generated
/gwen-server/src/generated
.env
