@use '@styles/tokens' as t;

// Official dimensions ratio 5/8
$card-width: 120px;
$card-height: 192px;
$card-border-radius: t.$border-radius-md;

.cardContainer {
  position: relative;
  width: $card-width;
  height: $card-height;
  border-radius: $card-border-radius;
  overflow: hidden;
  flex-shrink: 0;
}

