@use '@styles/tokens' as t;



.cardContainer {
  position: relative;
  border-radius: t.$card-border-radius;
  overflow: hidden;
  flex-shrink: 0;
  background-color: rgb(26 26 26 / 6%);
}

.cardContainer--small {
  width: t.$card-width-small;
  height: t.$card-height-small;
}

.cardContainer--medium {
  width: t.$card-width-medium;
  height: t.$card-height-medium;
}

.cardContainer--large {
  width: t.$card-width-large;
  height: t.$card-height-large;
}

