@use '@styles/tokens' as tokens;

.boardRow {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  min-height: tokens.$spacing-xl;
  min-width: 200px;
  width: 100%;
  box-shadow: tokens.$board-carved-shadow;
  background-color: tokens.$color-board-carved;
  border-radius: tokens.$spacing-sm;
}

.cardsContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: tokens.$spacing-sm;
  width: 100%;
  height: 100%;
  min-height: tokens.$board-card-height;
  padding: tokens.$spacing-050;
}