@use '@styles/tokens' as tokens;

.icon {
  display: inline-block;
  filter: saturate(0.0);
}

.small {
  width: tokens.$size-icon-small;
  height: tokens.$size-icon-small;
}

.medium {
  width: tokens.$size-icon-medium;
  height: tokens.$size-icon-medium;
}

.large {
  width: tokens.$size-icon-large;
  height: tokens.$size-icon-large;
}
