@use '@styles/tokens' as tokens;

.icon {
  margin-right: var(--space-xs, 0.5rem);
  display: inline-block;
}

.small {
  width: tokens.$size-icon-small;
  height: tokens.$size-icon-small;
}

.medium {
  width: tokens.$size-icon-medium;
  height: tokens.$size-icon-medium;
}

.large {
  width: tokens.$size-icon-large;
  height: tokens.$size-icon-large;
}
