@use '@styles/tokens' as tokens;

.slot {
  display: inline-block;
  width: tokens.$card-width-small;
  height: tokens.$card-height-small;
  background-color: tokens.$color-board-carved;
  border-radius: 0.5rem;
  box-shadow: tokens.$board-carved-shadow;
  cursor: pointer;
}

